
html{
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;

}
body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    overflow-x: hidden;
    
    position: absolute; /*absolute pode ferrar na hora de tornar responsivo ver para mudar*/
    width: 1440px;
    height: 891px;
    left: 0px;
    top: 0px;
    
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 72px 16px;
   
    
    isolation: isolate;

    width: 1440px;
    height: 147px;

    background: url(./imagens/Rio2016.jpg);

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

h1{    
    width: 1296px;
    height: 28px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;

    leading-trim: both;
    text-edge: cap;
    text-align: center;

    color: #1C1717;
    
}
h2{    
    width: 1296px;
    height: 28px;
        
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    
    leading-trim: both;
    text-edge: cap;
    text-align: center;
    
    color:#1C1717;
}

.ordenar-container{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px 72px;
    gap: 16px;

    width: 1440px;
    height: 96px;

    border-width: 1px 0px;
    border-style: solid;
    border-color: #D7D7D7;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}
.btn-ordem,
.selecionar-país,
.selecionar-esporte,
.selecionar-categoria{
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    gap: 4px;

    width: 200px;
    height: 38px;

    /* Primary */

    background: #185A17;
    border-radius: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF; 

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;   

    
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.textoCards {
    /*card verso*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px;
            
    width: 185px;
    height:168px;
    left: 20px;
    top: 328px;
    
    border-radius: 8px;
                    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
    background: url("imagens/imagemVerso.jpg");



    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

 
}



